body {
  width: 400px;
  background: linear-gradient(to top, #333 0%, #333 50%, #333 50%, white 50%, white 100%);
  color: #3c4043;
  font-size: 13px;
}
body,
input {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
input {
  font-size: 12px;
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
  font-weight: normal;
}
input[type=range] {
  width: 100%;
  box-sizing: border-box;
}
span {
  min-width: 40px;
  text-align: right;
}

[hbox] {
  display: flex;
}
[align=center] {
  align-items: center;
}
[pack=center] {
  justify-content: center;
}

.night {
  color: #ccc;
}
.sun {
  background: url('sun.svg') left 0 center no-repeat;
  width: 48px;
  background-size: 42px;
}
.moon {
  background: url('moon.svg') left 3px center no-repeat;
  width: 48px;
  background-size: 38px;
}
