body {
  width: 500px;
  color: #3c4043;
  font-size: 13px;
  margin: 0;
}
body,
input {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
input {
  font-size: 11px;
  outline: none;
}

input[type=button] {
  height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  border: solid 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
input[type=button]:disabled {
  opacity: 0.5;
  cursor: default;
}

#toolbar {
  padding: 10px;
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content;
  grid-gap: 10px;
}
#shortcuts {
  justify-self: start;
}
#content {
  background: linear-gradient(to top, #333 0%, #333 50%, #333 50%, whitesmoke 50%, whitesmoke 100%);
  padding: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tbody {
  position: relative;
}
th {
  text-align: left;
  font-weight: normal;
}
input[type=range] {
  width: 100%;
  box-sizing: border-box;
}
span {
  min-width: 40px;
  text-align: right;
}

[hbox] {
  display: flex;
}
[align=center] {
  align-items: center;
}
[pack=center] {
  justify-content: center;
}

.night {
  color: #ccc;
}
.sun {
  background: url('sun.svg') left 0 center no-repeat;
  width: 48px;
  background-size: 42px;
}
.moon {
  background: url('moon.svg') left 3px center no-repeat;
  width: 48px;
  background-size: 38px;
}

.hidden {
  display: none;
}

body[data-mode=day-range] tbody.day div::before {
  content: 'active';
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  color: whitesmoke;
  background-color: #0075ff;
  padding: 2px 5px;
}
body[data-mode=night-range] tbody.night div::before {
  content: 'active';
  position: absolute;
  top: -3px;
  right: -5px;
  font-size: 10px;
  color: whitesmoke;
  background-color: #0075ff;
  padding: 2px 5px;
}
