:root {
  --light: whitesmoke;
  --dark: #333;
  --gap: 5px;
  --blue: #0075ff;
  --border: solid 1px rgba(0, 0, 0, 0.25);
}
body {
  width: 600px;
  color: #3c4043;
  font-size: 13px;
  margin: 0;
  accent-color: var(--blue);
}
body,
input {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
button,
input {
  font-size: 11px;
  outline: none;
  border: var(--border);
}

button,
input[type=button] {
  height: 24px;
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  border: var(--border);
  cursor: pointer;
  white-space: nowrap;
}
.disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
button:disabled,
input[type=button]:disabled {
  display: none;
}
input[type=range] {
  width: 100%;
  box-sizing: border-box;

  &#day-range {
    accent-color: var(--dark);
  }
  &#night-range {
    accent-color: var(--light);
  }
  &:focus {
    accent-color: var(--blue) !important;
  }
}
input[type=time] {
  padding: 0 var(--gap);
}

#toolbar {
  padding: 10px;
  background-color: #333;
  display: grid;
  display: flex;
  gap: 10px;
}
#toolbar > div {
  flex: 1;
}
#shortcuts {
  justify-self: start;
}

.hidden {
  display: none;
}

#mode {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr repeat(4, min-content);
  white-space: nowrap;
  align-items: center;
  grid-gap: 5px;
}
#mode input {
  margin: 0;
}

.tbl {
  display: grid;
  grid-template-columns: 48px 1fr;
  grid-gap: var(--gap);
  padding: calc(2 * var(--gap));
  position: relative;
}
.tbl::before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--gap);
  color: var(--light);
  background-color: var(--blue);
}

.tbl.day {
  background-color: var(--light);
}
.tbl .icon {
  grid-row: 1/3;
  background-size: 42px;
  background-repeat: no-repeat;
  background-position: center;
}
.tbl .time {
  display: grid;
  grid-template-columns: min-content min-content;
  white-space: nowrap;
  grid-gap: var(--gap);
  padding: 0 var(--gap);
}
.tbl.day .icon {
  background-image: url('icons/sun.svg');
}
.tbl.night {
  color: var(--light);
  background-color: var(--dark);
}
.tbl.night input[type=range] {
  color: var(--light);
}
.tbl.night .icon {
  background-image: url('icons/moon.svg');
}
.tbl .progress {
  display: grid;
  grid-template-columns: 1fr 4ch;
  align-items: center;
  grid-gap: calc(2 * var(--gap));
}

body[data-mode=day-range] .night::before {
  display: none;
}
body[data-mode=night-range] .day::before {
  display: none;
}

#lock-container {
  position: relative;
}
#lock {
  position: absolute;
  background: url("icons/lock-off.svg") center center no-repeat;
  width: 32px;
  height: 32px;
  top: -16px;
  background-color: var(--light);
  z-index: 1;
  border-radius: 50%;
  right: 6px;
  border: solid 2px var(--dark);
  background-size: 20px;
}
#lock.locked {
  background-image: url("icons/lock-on.svg");
}

#dark-mode-list {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inject {
  margin: 0;
  padding: 20px;
  background-color: #fffaca;
  text-align: center;
}
body:not([data-injected=true]) .inject {
  display: none;
}

.interface {
  display: flex;
  label {
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
  }
  input {
    display: none;
  }
  input[value="schedule"]:checked + label,
  input[value="simple"]:checked + label {
    background-color: var(--blue);
    color: #fff;
  }
}


body:has(input[value="simple"]:checked) {
  .tbl.night {
    display: none;
  }
  .time {
    display: none;
  }
  #lock-container {
    display: none;
  }
  .tbl .progress {
    grid-row: 1 / 3;
  }
  .tbl.day .icon {
    background-image: url("icons/moon.svg"), url("icons/sun.svg");
    background-size: 60% 60%, 100% 100%;
    background-position: 0% 0%, 50% 0%;
  }

}
